<!DOCTYPE html>
  <html>
    <head>
      <title> {{ page.title }} </title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>

    <body>

      <nav>
        <ul>
          <li><a href="/netanalysis/"> Proposal </a></li>
          <li><a href="/netanalysis/progress"> Current Progress <a/></li>
          <li><a href="/netanalysis/research"> Relevant Research Summaries </a></li>
          <li><a href="/netanalysis/schedule"> Estimated Weekly Schedule </a></li>
          <li><a href="/netanalysis/videos"> Relevant Game Footage </a></li>
          <li><a href="/netanalysis/analysis"> GGPO and Game Packet Analysis</a></li>
        </ul>
      </nav>

      <div class="container">
        {{ content }}
      </div><!-- ./container -->

    </body>
</html>
